@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --cam-width: 320px;
    --cam-height: 400px;
    --motion-ease: cubic-bezier(0.68, -0.6, 0.32, 1.6);
    --motion-duration: 0.3s;
}
.amber.darken-4 {background-color: var(--amber-darken-4-color)!important;}

.container-wrap {
    text-align:center;
    display:flex;
    flex-direction:column;
    max-width:var(--cam-width);
    margin:10px auto;
    position:relative;
}

.video-container {
    width:var(--cam-width);
    height:var(--cam-height);
    display:block;
    position: relative;
}

#video-player {
    transform: scaleX(-1);
}

.control-container {
    position:relative;
    z-index:2;
    display:flex;
    flex-direction: column;
}

.control-container button {
    margin-top:10px;
}

.canvas-container {
    display:none;
    flex-direction:row;
}

.canvas-container canvas {
    display:block;
    width:var(--cam-width);
    height:var(--cam-height);
}


#diff-canvas {
    display:block;
    width:var(--cam-width);
    height:var(--cam-height);
}
