@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --video-width: 500px;
    --video-height: 450px;
    --motion-ease: cubic-bezier(0.68, -0.6, 0.32, 1.6);
    --motion-duration: 0.3s;
    --toast-border-radius: 0.25rem;
    --toast-theme-default-header: rgb(49,151,149);
    --toast-theme-default-body: rgba(49,151,149, .8);
    --toast-theme-error-header: rgb(239,68,68);
    --toast-theme-error-body: rgba(239,68,68, .8);
    --toast-theme-warning-header: rgb(255,140,38);
    --toast-theme-warning-body: rgba(255,140,38, .8);
    --toast-width: 300px;
}
body {
    width: 100%;
}

#sections-container > .container .section {
    margin-top: 50px;
}

#toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
nav > div {
    box-sizing: border-box;
}

#main-menu button {
    padding: 0.5rem 0.75rem;
    border-radius: 0.375rem;
    text-decoration: inherit;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(209 213 219/var(--tw-text-opacity));
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem*var(--tw-space-x-reverse));
    margin-left: calc(1rem*(1 - var(--tw-space-x-reverse)));
    width: 56px;
    height: 50px;
}

#main-menu button:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(55 65 81/var(--tw-bg-opacity));
}
#main-menu button.active {
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39/var(--tw-bg-opacity));
}
#main-menu .icon img {
    display: block;
    height: 50px;
    width: auto;
    padding:5px 10px;
}

#main-menu button i {
    margin-top: -2px;
    margin-left: 2px;
}

.video-container {
    width:var(--video-width);
    height:var(--video-height);
    display:block;
    position: relative;

}

.video-container .bg-video {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../images/background.jpg") no-repeat 100% 100%;
    background-size: cover !important;
    background-position: center center;
    z-index: 0;
    -webkit-box-shadow: 0px 0px 36px -1px rgba(180, 180, 180, 0.6);
    -moz-box-shadow: 0px 0px 36px -1px rgba(180, 180, 180, 0.6);
    box-shadow: 0px 0px 36px -1px rgba(180, 180, 180, 0.6);
}

.video-container video {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-box-shadow: 0px 0px 36px -1px rgba(180, 180, 180, 0.6);
    -moz-box-shadow: 0px 0px 36px -1px rgba(180, 180, 180, 0.6);
    box-shadow: 0px 0px 36px -1px rgba(180, 180, 180, 0.6);
}

.video-container video, .video-container .bg-video {
    border: none;
    border-radius: 10px;
}

.canvas-container {
    display:none;
    flex-direction:row;
}

.canvas-container canvas {
    display:block;
    width:var(--video-width);
    height:var(--video-height);
}

#diff-canvas {
    display:block;
    width:var(--video-width);
    height:var(--video-height);
}

/*TOAST*/

.toast-container {
    position: fixed;
    top: auto;
    right: 15px;
    width: var(--toast-width);
    bottom: 15px;
    z-index: 10;
}

.toast {
    font-size: 0.875rem;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: var(--toast-border-radius);
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.075);
    display: none;
    position: relative;
    overflow: hidden;
    z-index: 10;
}

.toast_default {
    color: #212529;
    background-color: var(--toast-theme-default-body);
}

.toast_success {
    color: #ffffff;
    background-color: var(--toast-theme-default-body);
}

.toast_error {
    color: #ffffff;
    background-color: var(--toast-theme-error-body);
}

.toast_warning {
    color: #ffffff;
    background-color: var(--toast-theme-warning-body);
}

.toast:not(:last-child) {
    margin-bottom: 0.75rem;
}

.toast__header {
    position: relative;
    padding: 0.5rem 2.25rem 0.5rem 1rem;
    background-color: var(--toast-theme-default-header);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.toast_error .toast__header {
    background-color: var(--toast-theme-error-header);
}

.toast_warning .toast__header {
    background-color: var(--toast-theme-warning-header);
}

button.toast__close {
    content: "";
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    width: 0.875em;
    height: 0.875em;
    background-image: auto !important;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/0.875em auto no-repeat;
    border: 0;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.1s ease-in-out;
}

.toast__close:hover {
    opacity: 1;
}

.toast__body {
    padding: 1rem;
}

.toast_message .toast__body {
    padding-right: 2.25rem;
}

.toast_show {
    display: block;
}

.toast-container .toast__body ul li .img {
    width: 50%;
    margin: 10px auto;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center;
}

.toast-container .toast__body ul li {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.video-detect.container {
    max-width: 100%;
}

@media (min-width: 640px) {
    #main-menu button {
        width: auto;
        line-height: 2.15rem;
    }
}
@media (min-width: 320px) {
    .video-detect.container {
        max-width: 100%;
    }
}

@media (max-width: 640px) {
    .video-container {
        width: 100%;
        height: auto;
        padding-top: 85%;
    }

    .video-container video, .video-container .bg-video {
        width: 94%;
        height: 100%;
        top: 0;
        position: absolute;
        left: 3%;
    }
}
